/* @include position(absolute, $top: 10px, $left: 50%); */
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/* @include crossBrowser(transition, 0.2s ease-out); */
/* @include crossBrowser(border-radius, 5px); */
@mixin crossBrowser($property, $css) {
  -webkit-#{$property}: $css;
  -moz-#{$property}: $css;
  -o-#{$property}: $css;
  #{$property}: $css;
}

/* berfore, after 에 사용 */
/* @include pseudo; */
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;


}

/* @include input-placeholder { color: $grey; } */
@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}
