$width: 1100px;

// font
$default_font_p: 14px;
$default_font_m: 12px;

// color
$default_color: #262626;
$point_color: #FF6E6E;
$font_gray: #adadae;

// border-color
$border: 1px solid #d3d3d3;
$border_light: 1px solid #cccccc;